.app{
    margin: 0 auto;
    width: 500px;
    min-width: 0px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
}
.search-filter{
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    align-items: baseline;
}
