.input-panel{
    margin-top: 10px;
    display: flex;
}

.input{
    margin-right: 5px;
    display: flex;
    flex: 2 2 auto;
    height: 38px;
}

.input-button{
    display: flex;
    /* flex: 1 1 auto; */
    height: 38px;
    width: 151.667px;
    margin: 0;
    padding: 0;
    background: none;
    position: relative;    
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: #6c757d;
    border: 1px solid #6c757d;
}
.input-button:hover{
    color: #ffffff;
    background: #6c757d;
}
.input-button:active{
    color: #ffffff;
    background: green;
    box-shadow: 0 0 10px rgba(0, 255, 55, 0.651);
    transition: box-shadow 0.15s ease;
    transition: background 0.15s ease;
}