.todo-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 16%;
    cursor: pointer;
}

.btn{
    min-width: 35px;
}
.important{
    color: rgb(255, 98, 7);
    font-weight: 900;
}
.done{
    color: grey;
    text-decoration: line-through;
}

.todo-text{
    cursor: pointer;
    font: 900;
}



.complete-check{
    font-size: 15px;
    color: white;
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(36, 228, 109);
    border-radius: 50% ;
}

.changed{
    background-color: rgb(36, 228, 109);
}

.main-span{
    display: flex;
    align-items: baseline;
}